Repository purduesigbots/pros-vsc: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        stages: [commit, push]
        name: Format js/ts/html/json/yaml/md/css using prettier
        entry: npm run format
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|html|json|md|mdx|yml|yaml|css)$
      - id: eslint
        stages: [commit, push]
        name: Run eslint for js/ts
        entry: npm run lint --fix
        language: system
        files: \.(js|jsx|ts|tsx)$

Prompt only on PROs project and when autosave is off
  src/extension.ts
Due: prettier, eslint

Fixed formatting
  src/extension.ts
Due: prettier, eslint

vsce version install set to 2.24.0
  azure-pipelines.yml
Due: prettier

Updated node version and vsce version in azure-pipelines.yml
  azure-pipelines.yml
Due: prettier

fixed toolchain detection bug
  src/one-click/install.ts
Due: prettier, eslint

undo fix
  src/one-click/install.ts
Due: prettier, eslint

✨ Added popup message on extension start to prompt for enabling autosave for current Pros project (#233)
  azure-pipelines.yml
  package.json
  src/extension.ts
Due: prettier, eslint

start profiling install speed
  src/one-click/download.ts
Due: prettier, eslint

Draft of vscode <-> brain sync indicator
  media/pros_check_black.png
  media/pros_check_black_outline_gold.png
  media/pros_check_gold.png
  media/pros_check_white.png
  media/pros_sync_black.png
  media/pros_sync_black_outline_gold.png
  media/pros_sync_gold.png
  media/pros_sync_white.png
  package-lock.json
  package.json
  src/commands/base-command.ts
  src/extension.ts
Due: prettier, eslint

Non-testing version
  src/commands/base-command.ts
Due: prettier, eslint

ran prettier
  src/commands/base-command.ts
  src/extension.ts
Due: prettier, eslint

fixed formatting issue
  src/extension.ts
Due: prettier, eslint

removed unused media assets
  media/pros_check_black_outline_gold.png
  media/pros_check_gold.png
  media/pros_sync_black_outline_gold.png
  media/pros_sync_gold.png
Due: none

simplified stuff
  package.json
  src/extension.ts
Due: prettier, eslint

i broke it
  package.json
Due: prettier

Settings
  package.json
Due: prettier

prettier
  src/extension.ts
Due: prettier, eslint

ran pretteir again
  src/extension.ts
Due: prettier, eslint

ran prettier again again
  src/extension.ts
Due: prettier, eslint

even prettier now
  src/commands/base-command.ts
  src/commands/capture.ts
  src/commands/cli-parsing.ts
  src/commands/command_tools.ts
  src/commands/create-project.ts
  src/commands/info-project.ts
  src/commands/reset-conductor.ts
  src/commands/run.ts
  src/commands/runvision.ts
  src/commands/set-robot-name.ts
  src/commands/set-team-number.ts
  src/commands/upgrade-project.ts
  src/commands/upload-command.ts
  src/device.ts
  src/logger.ts
  src/one-click/download.ts
  src/one-click/install.ts
  src/one-click/installed.ts
  src/one-click/path.ts
  src/views/brain-view.ts
  src/views/docs-webscrape.ts
  src/views/docview.ts
  src/views/editor.ts
  src/views/tree-view.ts
  src/views/welcome-view.ts
  src/workspace_utils.ts
Due: prettier, eslint

Revert "ran prettier again again"
  src/extension.ts
Due: prettier, eslint

prettier test
  package.json
  src/extension.ts
  src/one-click/install.ts
  src/workspace_utils.ts
Due: prettier, eslint

Fix Prettier 2 formatting and revert accidental Prettier 3 changes
  package-lock.json
  package.json
  src/commands/base-command.ts
  src/commands/capture.ts
  src/commands/cli-parsing.ts
  src/commands/command_tools.ts
  src/commands/create-project.ts
  src/commands/info-project.ts
  src/commands/reset-conductor.ts
  src/commands/run.ts
  src/commands/runvision.ts
  src/commands/set-robot-name.ts
  src/commands/set-team-number.ts
  src/commands/upgrade-project.ts
  src/commands/upload-command.ts
  src/device.ts
  src/extension.ts
  src/logger.ts
  src/one-click/download.ts
  src/one-click/install.ts
  src/one-click/installed.ts
  src/one-click/path.ts
  src/views/brain-view.ts
  src/views/docs-webscrape.ts
  src/views/docview.ts
  src/views/editor.ts
  src/views/tree-view.ts
  src/views/welcome-view.ts
  src/workspace_utils.ts
Due: prettier, eslint
